html, body {
  margin: 0;
  padding: 0;
  font-size: calc(62.5% / 10);
  background-color: black;
  color: #f5f5f5;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  margin: 0 auto;
  width: 70%;
  background-color: #3d3d3d;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-size: 40rem;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

h2{
  font-size: 38rem;
  margin: 0;
  margin: 20px 0;
}

h3 {
  font-size: 24rem;
  margin: 0;
  margin-bottom: 20px;
}

p {
  font-size: 20rem;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  max-width: 200px;
}

a {
  font-size: 26rem;
  text-decoration: none;
  color: #f5f5f5;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
  color: #4f02b4;
}

img {
  max-width: 200px;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
}