@media (min-width: 686px) {
  img {
    max-width: initial;
  }

  p {
    max-width: initial;
  }

  select{
    font-size: 32rem;
    margin: 20px 0;
  
  }
  
  label {
    font-size: 38rem;
  }
  
}